id = "dc_mpd"
name = "DC Metropolitan Police Department"
city = "Washington"
state = "DC"
output_filename = "dc_crimes.json"

[license]
license_type = "open_data"
tos_url = "https://opendata.dc.gov/pages/terms-of-use"
attribution_required = true
attribution_text = "DC Metropolitan Police Department"
allows_redistribution = true
allows_scraping = true
restricted = false

[fetcher]
type = "arcgis"
# Per-year layers: DC publishes each year as a separate MapServer layer.
query_urls = [
  # 2026-2024
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/41/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/7/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/6/query",
  # 2023-2018
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/5/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/4/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/3/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/2/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/1/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/0/query",
  # 2017-2012
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/38/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/26/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/27/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/40/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/10/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/11/query",
  # 2011-2008
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/35/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/34/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/33/query",
  "https://maps2.dcgis.dc.gov/dcgis/rest/services/FEEDS/MPD/MapServer/32/query",
]
page_size = 1000
date_column = "REPORT_DAT"

[fields]
incident_id = ["CCN"]
crime_type = ["OFFENSE"]
block_address = "BLOCK"
location_type = "WARD"

[fields.occurred_at]
type = "epoch_ms"
field = "REPORT_DAT"

[fields.lat]
field = "LATITUDE"
type = "f64"

[fields.lng]
field = "LONGITUDE"
type = "f64"

[fields.description]
type = "combine"
fields = ["OFFENSE", "METHOD"]
separator = " ("
# Note: this produces "ROBBERY (GUN" not "ROBBERY (GUN)" but it's close enough.
# A suffix option could be added later if needed.

[fields.arrest]
type = "none"
